*
{
  margin: 0;
  box-sizing: border-box;
}

.App
{
  background-color: rgb(8, 85, 34);
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App__header
{
  padding: 1rem;
  color: rgb(235, 227, 227);
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: -1.5px;
}

.App__body
{
  flex: 1;
  background-color: beige;
  display: grid;
  justify-content: center;
  /* align-items: center; */
}

.Dashboard
{
  padding: 1rem;
  max-width: 700px;

}

.Dashboard__input-container
{
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;

}

.Dashboard__input-container *
{
  padding: 0.25rem 0.5rem;
}

.DashboardData__subtitle
{
  color: rgba(8, 85, 34, 0.9);
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 2.0rem;
}

.DashboardData__card-container
{
  display: grid;
  align-items: center;
  justify-content: center;
  margin-block-start: 1rem;
  gap: 1rem;
}

.SightingInfo
{
  color: rgb(235, 227, 227);
  background-color: rgb(8, 85, 34);
  padding: 1rem 2rem;
  /* border-radius: 1rem; */
  border-bottom: 1rem outset rgb(212, 133, 13);
  box-shadow: 0 0 0 0.3rem rgba(115, 191, 221, 0.678);
}

.SightingInfo__com-name
{
  text-decoration: underline;
  padding-block: 0.5rem;
  position: relative;
}

.SightingInfo__com-name::before,
.SightingInfo__com-name::after
{
  content: '';
  position: absolute;
  height: 0.25rem;
  background-color: beige;
}

.SightingInfo__com-name::before
{
  left: 0;
  top: 50%;
  right: 90%;
}

.SightingInfo__com-name::after
{
  right: 0;
  top: 50%;
  left: 90%;
}

.SightingInfo__sci-name
{
  margin-block: 0.4rem;
}

.SightingInfo p
{
  margin-block: 0.25rem;
}